
#container{
  width:100%;
}

/********presentation****************/
.presentation{
  background-image:url("../pic/bandeau1.jpg"); /*chemin de mon image en fond de page*/
  background-size: cover;/*image en fond page d'accueil*/

}
/***********img**********/

.logo1{
  text-align: center;/*aligne l'élément*/
  padding-top:10px;/*padding 10px*/
}

.logo1 img{
  width: 150px;/*largeur de 150px*/
}

/**************header**************/
@font-face { /*propriété pour une police personnalisée*/
  font-family:'Young';/*police young*/
  src: url('Young.ttf');
}

.titre{
  height: 500px;
  font-family: 'Young'; /*police young*/
  font-weight: bold;/*caractère en gras*/
  text-align: center;/*aligne l'élément*/
  color:white;/*couleur caractère*/
  padding:108px;/*padding div titre*/
  font-size:65px;/*taille du titre*/
}

/**********mediaqueries titre*********/

@media (max-width:767px){
.titre{
    font-size: 40px;
      }
}
/*************nav************/


@font-face {
  font-family: 'Geo';/*police Geo*/
  src: url('Geo.ttf');
}

/*********propriétés sur les liens de ma barre de nav*********/


/*********mediaqueries lg,md,sm,xs*******/
@media (min-width:1200px){
  .monNav{
   text-align:center;
   font-family:'Geo';
  }
}

@media (max-width:1199px) and (min-width:992px){
.monNav{
  font-family:'Geo';
  }
}


@media (max-width:767px){
.monNav{
  font-family:'Geo';
   }
  }

.monUl li a{
  font-size: 30px;
  text-decoration: none;
  color:black;
  background-color: #97b1ba;
  padding:0.5%;
}

@media (max-width:991px) and (min-width:768px){
.monUl li a{
  text-align:center;
  font-family:'Geo';
   }
  }

@media (max-width:767px){
.monUl li a{
  float:none;
  text-align:center;
  font-size:27px;
   }
  }

li a:hover{
 background-color:white;
}

/************intro**********/

/*********header**********/

@font-face {
  font-family:'Geo';
  src: url('Geo.ttf');
}

.moi{
  font-size: 40px;
  font-family:'Geo';
  text-align: center;
  padding-top: 30px;
  font-weight: bold;
}

/*******responsive xs titre intro*******/

@media (max-width:767px){
  .moi {
    font-size: 35px;
  }
}

/**************article*********/
@font-face {
  font-family: 'Geo';
  src: url('Geo.ttf');
}

div.monArticle{
  margin-top:400px;
  padding-bottom:7%;
  padding-top:60px;
  padding-left:10%;
  padding-right:10%;
  margin:auto;
  width:80%;
}

.monArticle p{
  font-family: 'Geo';
  font-size: 23px;
  text-align:justify;
  padding-top: 5%;
}

/*********resp xs .monArticle****/

@media (max-width:767px){
 .monArticle p{
  font-size: 20px;
  }
}

/***********lien cv pdf*********/
@font-face{
  font-family:'Young';
  src: url('Young.ttf');
}
.couleurprojetnoir{
  border:3px solid black;
}
.couleurprojetnoir a{
  color: black;
  text-decoration: none;
}

 .Projet img{
   font-family:'Young';
   color:black;
 }

/****************img************/

div.logo2{
  margin-top:60px;
  text-align: center;
  image:url("monnewlogo.png");
  padding-top:10%;
  padding-bottom: 3%;
}

/**********section projets*******/

.sectionProjet{
  background-color:#97b1ba;
}

@font-face{
  font-family:'Young';
  src: url('Young.ttf');
}

.titreProjet{
font-size: 40px;
font-family:'Young';
text-align: center;
padding-top: 45px;
}


@font-face{
  font-family:'Young';
  src: url('Young.ttf');
}

.mesprojets{
  padding-bottom:50px;
}

.Projet{
 margin-left:440px;
 margin-right:440px;
 margin-top:130px;
 font-family:'Young';
 text-decoration: none;
 font-size: 30px;
 text-align: center;
 padding-top:10px;
}

.couleurprojetblanc{
  border:3px solid white;
}

.couleurprojetblanc a{
  text-decoration: none;
}

/***mediaqueries classe Projet***/

@media (min-width:1200px){
  .Projet{
    border:none;
    }
}

@media (max-width:1199px)and (min-width:992px){
.Projet{
  margin-left:335px;
  margin-right:335px;
  }
}

@media (max-width:991px)and (min-width:768px){
.Projet{
  margin-left:270px;
  margin-right:270px;
  font-size:35px;
  }
}

@media (max-width:991px)and (min-width:768px){
.Projet{
  margin-left:270px;
  margin-right:270px;
  font-size:35px;
  }
}

@media (max-width:768px){
.Projet{
  margin-left:80px;
  margin-right:80px;
  font-size:30px;
  }
}

a{
color:white;
text-decoration:none;
}

/***********partie contact******/
.contact{
  background-color: #edf1f2;
}

/*********titre contacter*******/

@font-face {
font-family: 'Young';
src: url('Young.ttf');
}

.mecontacter{
  font-family: 'Young';
  text-align: center;
  font-size: 40px;
  padding-top:45px;
}
/*resp xs mecontacter****/

@media (max-width:767px){
.mecontacter{
    font-size:45px;
  }
}
/*******scrolltop********/
#divscroll{
  position:fixed;
  bottom:60px;
  left:10px;
}
/***********adresse**********/

@font-face {
  font-family:'Geo';
  src: url('Geo.ttf');
}

.adresse{
  font-family: 'Geo';
  text-align:center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.adresse a{
  color: black;
}

/***********liens**********/

#mesliens{
  text-align: center;
  padding-top: 50px;
}

.listeliens{
  display: inline-block;
  list-style: none;
}

.photocontact{
width:120px;
margin-left: 30px;
margin-right:30px;
}

/************mediaqueries #liens tous les formats******/
@media (max-width:768px){

.photocontact{
    width: 120px;
    margin-left: 15px;
    margin-right: 15px;
}
}

.copyright{
  text-align:center;
  margin-top:15px;
  margin-bottom: 15px;
}
