
#container{
  width:100%;
}

/********presentation****************/
.presentation{
  background-image:url("../pic/bandeau1.jpg"); /*chemin de mon image en fond de page*/
  background-size: cover;/*image en fond page d'accueil*/

}
/***********img**********/

.logo1{
  text-align: center;/*aligne l'élément*/
  padding:10px;/*padding 10px*/
}

.logo1 img{
  width: 150px;/*largeur de 150px*/
}

/**************header**************/
@font-face { /*propriété pour une police personnalisée*/
  font-family:'Young';
  src: url('Young.ttf');
}

.titre{
  height: 500px;
  font-family: 'Young'; /*police young*/
  font-weight: bold;/*caractère en gras*/
  text-align: center;/*aligne l'élément*/
  color:white;/*couleur caractère*/
  margin: 30px;
  padding:80px;
  font-size: 65px;
}

/**********mediaquerie titre********/

@media (max-width:767px){
.titre{
    font-size: 40px;
      }
}
/*********nav*********/

@font-face {
  font-family: 'Geo';/*police Geo*/
  src: url('Geo.ttf');
}

/*********propriétés sur les liens de ma barre de nav*********/

.monNav{
  padding-left: 30%;
}

/*********mediaqueries lg,md,sm,xs*******/

@media (min-width:1200px){
.monNav{
  padding-left: 30%;
  }
}

@media (max-width:1199px) and (min-width:992px){
.monNav{
  padding-left: 23%;
  }
}

@media (max-width:991px) and (min-width:768px){
.monNav{
  padding-left: 22%;
  }
}

@media (max-width:767px){
.monNav{
  padding-left:0%;
   }
  }

.monUl li a{
  font-family:'Geo';
  font-size: 30px;
  text-decoration: none;
  color:black;
  background-color: #97b1ba;
  padding:1%;
  float: left;
}

@media (max-width:767px){
.monUl li a{
  float:none;
  text-align:center;
   }
  }

li a:hover{
 background-color:white;
}

/************intro**********/

/*********header**********/

@font-face {
  font-family:'Geo';
  src: url('Geo.ttf');
}

.moi{
  font-size: 40px;
  font-family: 'Geo';
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: bold;
}

/*******responsive xs titre intro*******/

@media (max-width:767px){
  .moi {
    font-size: 35px;
  }
}

/**************article*********/
@font-face {
  font-family: 'Geo';
  src: url('Geo.ttf');
}

div.monArticle{
  margin-top:400px;
  padding-bottom:7%;
  padding-top:60px;
  padding-left:10%;
  padding-right:10%;
  margin:auto;
  width:80%;
}

/**********************/
.monArticle p{
  font-family: 'Geo';
  font-size: 23px;
  text-align:justify;
  padding-top: 5%;
}

/*********resp xs .monArticle****/

@media (max-width:767px){
 .monArticle p{
  font-size: 20px;
  }
}
/****************img************/

div .logo2{
  margin-top: 60px;
  text-align: center;
  image:url("monnewlogo.png");
  padding-top: 10%;
}

/*********section mon cv********/

.monCV{
  background-color: #97b1ba;
}

/*******titre*********/
@font-face {
 font-family: 'Geo';
 src: url('Geo.ttf');
}
.titrecv{
 font-family: 'Geo';
 font-size:40px;
 font-weight:bold;
 padding-bottom: 15px;
 border-bottom:2px solid #bf0417;
}

/****resp xs titrecv******/

@media (max-width:767px){
  .titrecv{
  text-align: center;
  font-size:35px;
  }
}
/******* section formation*********/
@font-face {
 font-family: 'Geo';
 src: url('Geo.ttf');
}
.formation{
 font-family: 'Geo';
 margin-top:20px;
 padding-top:30px;
}

.titreformation{
  font-size:28px;
  font-weight:bold;
}

/******resp xs tformation***/
@media(max-width:767px){
  .titreformation{
  text-align: center;
  }
}

.p1{
  font-size:22px;
  padding-top: 10px;
  line-height : 1.5;
}

/****resp p1*****/

@media (max-width:767px) {
  .p1{
      font-size:20px;
  }
}
/*******section experience pro*********/
@font-face{
 font-family: 'Geo';
 src: url('Geo.ttf');
}

.experiences{
 font-family: 'Geo';
 margin-top:20px;
 padding-top:30px;
}

.titreexp {
  font-size:28px;
  font-weight:bold;
}

/*********resp titreexp*****/

@media(max-width:767px){
  .titreexp{
    text-align: center;
  }
}

.p2{
  font-size:22px;
  padding-top:15px;
  line-height : 1.5;
}

/*****resp xs p2****/

@media (max-width:767px) {
  .p2{
      font-size:20px;
  }
}
/******* section loisirs*********/
@font-face {
 font-family: 'Geo';
 src: url('Geo.ttf');
}

.loisirs{
 font-family: 'Geo';
 margin-top:20px;
 padding-top:30px;
}

.titreloisirs{
  font-size:28px;
  font-weight:bold;
}
/*****resp xs titreloisirs****/

@media(max-width:767px){
  .titreloisirs{
    text-align: center;
  }
}

.p3{
  font-size:22px;
  padding-top:15px;
  line-height : 1.5;
}
/******resp xs p3****/

@media(max-width:767px){
  .p3{
  font-size:20px;
  text-align: left;
  }
}

/***********partie contact******/
.contact{
  background-color: #edf1f2;
}

/*********titre contacter*******/

@font-face {
font-family: 'Young';
src: url('Young.ttf');
}

.mecontacter{
  font-family: 'Young';
  text-align: center;
  font-size: 80px;
  padding-top:40px;
}
/*resp xs mecontacter****/

@media (max-width:767px){
.mecontacter{
    font-size:45px;
  }
}

/***********adresse**********/

@font-face {
  font-family:'Geo';
  src: url('Geo.ttf');
}

.adresse{
  font-family: 'Geo';
  text-align:center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 200px;
}

/***********liens**********/
#liens{
  margin-top: 200px;
  display: flex;
  margin-left: 35%;
  margin-right: 35%;
}

/************mediaqueries #liens tous les formats******/

@media (max-width:1199px) and (min-width:992px){
  #liens{
    flex-direction: column;
  }
}
@media (max-width:991px) and (min-width:768px){
  #liens{
    flex-direction: column;
  }
}
@media (max-width:767px){
  #liens{
    flex-direction: column;
  }
}
/************mediaqueries div fb tous les formats******/

@media (max-width:1199px) and (min-width:992px){
  .fb{
    text-align: center;
  }
}

@media (max-width:991px) and (min-width:768px){
  .fb{
    text-align: center;
  }
}

@media (max-width:991px) and (min-width:768px){
  .fb{
    text-align: center;
  }
}

@media (max-width:767px){
  .fb{
    text-align: center;
  }
}

/**********mediaqueries div lk tous les formats******/

.lk{
  padding-left: 21%;
}

@media (max-width:1199px) and (min-width:992px){
  .lk{
    text-align: center;
    padding-left:0;
  }
}

@media (max-width:991px) and (min-width:768px){
  .lk{

    padding-left:23%;
  }
}
